<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@blog.title}}</h1>
      <p class="lead">{{@blog.description}}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
		<a href="http://twitter.com/y_akopov">Twitter</a> |
		<a href="https://plus.google.com/+YuriyAkopov">G+</a>
      </li>
    </ul>

	<div class="sidebar-license">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
			<img alt="Creative Commons License" style="border-width:0" title="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
		</a>	
	</div>
  </div>
</div>
